
<%= form_with(model: business, local: true, class: 'form inputs-underline') do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :business_name %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id, id: :business_location_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :business_category_id %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name, id: :business_contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_phone %>
    <%= form.text_field :contact_phone, id: :business_contact_phone %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :business_website %>
  </div>
  <div class="field">
    <%= form.label :logo %>
    <%= form.file_field :logo, id: :business_logo,  class: 'form-control' %>
  </div>
    <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :business_description, rows: 8, class: 'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Save",  class: 'btn btn-primary pull-right'  %>
  </div>
<% end %>
