<p id="notice"><%= notice %></p>






<div id="page-content">
    <div class="container">
        <ol class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Businesses</li>
        </ol>
        <!--end breadcrumb-->
        <section class="page-title">
            <h1>Businesses</h1>
            <%= link_to 'Add A Business', new_business_path, class: 'btn btn-rounded shadow pull-right' %>
        </section>
        <!--end page-title-->
        <section>
            <div class="my-items table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Business</th>
                        <th>Featured</th>
                        <th>Contact</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Last Edited</th>
                    </tr>
                    </thead>
                    <tbody>
                      <% @businesses.each do |b| %>
                    <tr class="my-item">
                        <td>
                            <div class="image-wrapper">
                                <!-- <div class="circle" data-toggle="tooltip" data-placement="right" title="Top Listing"><i class="fa fa-thumbs-up"></i></div> -->
                                <a href="edit-listing.html" class="image">
                                    <div class="bg-transfer">
                                      <%= image_tag b.logo %>
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <a href="detail.html"><h2><%= b.name %></h2></a>
                                <figure class="location"><%= b.location.address.split(',')[1] %></figure>
                                <figure class="label label-info"><%= b.category.name %></figure>
                                <!-- <div class="additional-info">
                                    <span><i class="fa fa-bed"></i>12</span>
                                    <span class="price-info">From <span class="price">$32</span><span class="appendix">/night</span></span>
                                </div> -->
                                <!--end additional-info-->
                            </div>
                            <!--end info-->
                        </td>
                        <td><div class="featured yes"><i class="fa fa-check"></i><aside></aside></div></td>
                        <td class="views"><%= b.contact_name %></td>
                        <td class="reviews"><%= number_to_phone(b.contact_phone) %></td>
                        <td class="rating">
                          <%= link_to b.email, b.email %>
                           <!--  <div class="rating-passive" data-rating="4">
                                <span class="stars"></span>
                                <span class="reviews">6</span>
                            </div> -->
                        </td>
                        <td class="last-edited"><%= link_to b.website, b.website, :target => '_blank' %>
                            <!-- <span class="last-edit">Last edited: Today 12:35</span> -->
                            <div class="edit-options">
                                <%= link_to business_path(b), class: 'link icon' do %>
                                  <i class="fa fa-eye"></i>View
                                <% end %>
                                <%= link_to edit_business_path(b), class: 'link icon' do %>
                                  <i class="fa fa-edit"></i>Edit
                                <% end %>
                                <%= link_to  business_path(b), method: :delete, data: { confirm: 'Are you sure?' }, class: 'link icon delete' do %>
                                  <i class="fa fa-trash"></i>Delete</a>
                                <% end %>
                            </div>
                            <!--end edit-options-->
                        </td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
            <!--end my-items-->
        </section>
        <section>
            <div class="center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="disabled previous">
                            <a href="#" aria-label="Previous">
                                <i class="arrow_left"></i>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="next">
                            <a href="#" aria-label="Next">
                                <i class="arrow_right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
    <!--end container-->
</div>
