<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @business.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @business.category %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @business.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @business.contact_phone %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
