<h3 style="margin-left:6px;">
  <%= request.pickup_address.split(',')[0] %>
  <i class='fa fa-arrow-right'></i>
  <%= request.dropoff_address.split(',')[0]%>
   <div class="label label-default pull-right"><%= time_ago_in_words(request.created_at) %> ago</div>
</h3>
<h5> <i class='fa fa-truck'></i><%= shuttle.name unless shuttle.nil? %>
  <span style="margin-left:10px;margin-right:10px;"></span>
</h5>

<% if request.note.nil? == false && request.note != ""%>
<div class="description">
  Note: <%= request.note %>
</div>
<% end %>
<div class="description">
  <b>Name:</b> <%= request.requester_name %>
 <span style="margin-left:10px;margin-right:10px;"></span>
 Riders: <%= request.riders %>
</div>
