<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
        max-height: 75px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

</style>
<%= form_with(model: ride_request, local: true) do |form| %>
  <% if ride_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride_request.errors.count, "error") %> prohibited this ride_request from being saved:</h2>

      <ul>
      <% ride_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :pickup_address, id: "origin-input", placeholder: 'enter the starting point' %>
  </div>
  <div class="field" ">
    <%= form.text_field :dropoff_address, id: "destination-input", placeholder: 'enter the destination' %>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <%= form.label :requester_name %>
        <br/>
        <%= form.text_field :requester_name, id: :ride_request_requester_name %>
      </div>
      <div class='col-md-3'>
        <%= form.label :riders %>
        <br/>
        <%= form.number_field :riders, id: :ride_request_riders, style: 'max-height:25px;' %>
      </div>
      <div class='col-md-3'>
        <%= form.label :shuttle_id %>
        <br/>
        <%= form.text_field :shuttle_id, id: :ride_request_shuttle_id %>
      </div>
    </div>
  </div>
  <div class='container'>
    <br/>
    <div class="actions">
      <%= form.submit "Request Ride", class: 'btn btn-primary' %>
    </div>
    <br/>
    <br/>
  </div>


<div id="map" style='padding-top:24px; min-height: 400px;'></div>
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>
  <% end %>


