<%= form_with(model: @ride_request, local: true) do |form| %>
  <% if @ride_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride_request.errors.count, "error") %> prohibited this ride_request from being saved:</h2>

      <ul>
      <% @ride_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% locations = [] %>
  <% locations << ["-- Please Select --", "-- Please Select --"]%>
  <%  @ordered_locations.each do |l|  %>
  <% locations << [l.name, "#{l.name}, #{l.address}"] %>
  <% end %>

  <div class='row'>
    <div class='col-md-4'>
      <%= form.text_field :requester_name, id: :ride_request_requester_name, class: 'form-control', placeholder: "Rider Name" %>
       <%= form.label :pickup_location %>
     <%= form.select(:pickup_address, options_for_select(locations)) %>
    </div>
    <div class='col-md-4'>
      <%= form.text_field :phone, id: :ride_request_phone,  class: 'form-control', placeholder:'Phone Number...'  %>
       <%= form.label :dropoff_location %>
     <%= form.select(:dropoff_address, options_for_select(locations)) %>
    </div>
    <div class='col-md-4'>
      <%= form.label :rider_count %>
      <%= form.number_field :riders, id: :ride_request_riders, class: 'form-control' %>
      <%= form.hidden_field :redirect, :value => "manager" %>
      <%= form.submit "Request Ride", class: "btn btn-primary" %>
    </div>
  </div>


<% end %>

