<%= form_with(model: ride_request, id: :rider_form, local: true, html: { novalidate: false }) do |form| %>
  <% if ride_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride_request.errors.count, "error") %> prohibited this ride_request from being saved:</h2>

      <ul>
      <% ride_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='form-group'>
    <% form.label :your_name %>
    <% form.text_field :requester_name, id: :ride_request_requester_name, class: 'form-control' %>
    <h3>For :</h3>
    <label><%= cookies[:name] %></label>
  </div>
  <div class='form-group'>
    <% form.label :your_phone_number %>
    <% form.text_field :phone, id: :ride_request_phone,  class: 'form-control'  %>
    <h3> Confirmation #: </h3>
    <label><%= cookies[:phone] %></label>
  </div>
  <div class=''>
     <%= form.label :number_of_riders %> <span style='margin:8px;'></span>
     <%= form.number_field :riders, id: :ride_request_riders, class: '', style:'max-width:50px' %>
  </div>
  <% locations = [] %>
  <% locations << ["-- Please Select --", "-- Please Select --"]%>
  <%  @ordered_locations.each do |l|  %>
  <% locations << [l.name, "#{l.name}, #{l.address}"] %>
  <% end %>

  <div class='form-group'>
     <%= form.label :pickup_location %><br>
     <%= form.select(:pickup_address, options_for_select(locations), {}, { :class => 'ride-select', style: 'max-width:100%'}) %>
  </div>
  <div class='form-group'>
     <%= form.label :dropoff_location %><br>
     <%= form.select(:dropoff_address, options_for_select(locations), {}, { :class => 'ride-select'}) %>
  </div>
      <%= form.hidden_field :origin, value: 'user' %>

  <% form.submit "Request Ride", class: "btn btn-primary" %>
  <button type="submit" id='submit' class="btn btn-primary width-100">Find My Shuttle</button>
<% end %>


<script>
  $(document).ready(function () {
    $('.ride-select').select2();
    $('#rider_form').validate({
        rules: {
            name: {
                required: true,
                min: 1,
                number: true
            }
        }
    });
    // programmatically check the entire form using the `.valid()` method.
    $("#rider_form").on('click', '#submit', function () {
        $('#rider_form').valid();
    });

});

</script>
