<section class="page-title">
    <h1>Ride Requests</h1>
</section>
<div class='container'>
<div class='row'>
  <%= render 'ride_requests/manager_form' %>
</div>
</div>
<br>
<br>
<div class='container'>
    <div class='row'>
        <div class='col-md-9'>
        <% @ride_requests.each do |request| %>
        <div class="row">
          <div class='col-md-1'>
            <%= request.created_at.strftime('%T') %>
          </div>
          <div class='col-md-2'>
            <%= request.status %>
          </div>
          <div class='col-md-2'>
            <%= request.requester_name %>
          </div>
          <div class='col-md-2'>
            <%= request.pickup_address.split(',')[0]%>
          </div>
          <div class='col-md-2'>
            <%= request.dropoff_address.split(',')[0]%>
          </div>
          <div class='col-md-1'>
            <%= request.status %>
          </div>
          <div class='col-md-2'></div>
        </div>
        <% end %>
    </div>
    <div class='col-md-3'>
      <%= render 'shuttles/shuttle_locations'%>
    </div>
    </div>
</div>
