<section class="page-title">
    <h1>Ride Requests</h1>
</section>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %><br/>
<% end %>
<br>
<br>
<div class='container' style='margin-top: -60px;'>
<div class='row'>
  <button onclick="window.location.href='/ride_request/manager'"  class='btn btn-primary'>All</button>
  <% Shuttle.all.each do |s|%>
    <button onclick="window.location.href='/ride_request/manager?driver=<%= s.name%>'"  class='btn btn-primary'><%= s.name%></button>
  <% end %>
</div>
</div>
<br>
<div class='container' >
    <div class='row'>
        <div class='col-md-8'>
        <% @ride_requests.each do |request| %>
          <div class="item item-row1" >
                <h3>Driver: <%= request.shuttle.name unless request.shuttle.nil? %>  <span style="margin-left:10px;margin-right:10px;"></span>    Status: <div class="label label-default"><%= request.status %></div> </h3>
                 <b>Name:</b> <%= request.requester_name %><span style="margin-left:10px;margin-right:10px;"></span>Riders: <%= request.riders %>
                 <% unless request.note.nil? %>
                <div class="description">
                  Note: <%= request.note %>
                </div>
                <% end %>
                <div class="description">
                    <strong>Pickup:</strong> <%= request.pickup_address.split(',')[0] %><span style="margin-left:10px;margin-right:10px;"></span><strong>DropOff:</strong><%= request.dropoff_address.split(',')[0]%>
                </div>
            <div class="controls-more">
              <% if request.status == "In Queue" %>
                <ul>
                    <% Shuttle.all.each do |shuttle| %>
                    <li><%= link_to "Assign to #{shuttle.name}", ride_request_assign_shuttle_path(request, shuttle.id) %></li>
                    <% end %>
                </ul>
              <% elsif request.status == "Dispatched" %>
                <ul>
                   <li><%= link_to "Set Rolling", ride_request_advance_status_path(request) %></li>
                 </ul>
              <% else %>
                 <ul>
                   <li><%= link_to "Mark Clear", ride_request_mark_clear_path(request) %></li>
                 </ul>
              <% end %>
            </div>
            <div>
              <%= link_to ride_request_path(request) do %> <i class='fa fa-eye'></i><%end%>
              <span style="margin-right:10px;"></span>
              <%= link_to edit_ride_request_path(request) do %> <i class='fa fa-edit'></i><%end%>
              <span style="margin-right:10px;"></span>
              <%= link_to ride_request_mark_clear_path(request) do %> <i class='fa fa-trash'></i><%end%>
              <span style="margin-right:10px;"></span>
              <%= link_to  ride_request_reset_status_path(request) do %> <i class='fa fa-recycle'></i><%end%>
            </div>
          </div>
        <% end %>
    </div>
    <div class='col-md-4'>

    <%= render 'ride_requests/manager_form' %>

    <script type="text/javascript">
      $(document).ready(function() {
            $('.ride-select').select2();
          });
    </script>

      <%= render 'shuttles/shuttle_locations'%>
    </div>
    </div>
</div>

