<section class="page-title">
    <h1>Ride Requests</h1>
</section>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %><br/>
<% end %>
<br>
<br>
<div class='container' style='margin-top: -60px;'>
<div class='row'>
  <button onclick="window.location.href='/ride_request/manager'"  class='btn btn-primary'>All</button>
  <% Shuttle.all.each do |s|%>
    <button onclick="window.location.href='/ride_request/manager?driver=<%= s.name%>'"  class='btn btn-primary'><%= s.name%></button>
  <% end %>
</div>
</div>
<br>
<% queue = @ride_requests.where(status: 'In Queue') %>
<% dispatched = @ride_requests.where(status: 'Dispatched') %>
<% rolling = @ride_requests.where(status: 'Rolling') %>
<div class='' style='padding:24px;' >
    <div class='row'>
        <div class='col-md-8'>
          <!-- Table -->

            <div class='row'>
              <div class='col-md-4'>
                  <h3 style='color:black'>In Queue</h3>
                  <% queue.each do |request| %>
                    <div class="item item-row1" style='background-color: #f4e59a'>
                          <h3>Driver: <%= request.shuttle.name unless request.shuttle.nil? %>  <span style="margin-left:10px;margin-right:10px;"></span>    Status: <div class="label label-default"><%= request.status %></div> </h3>
                           <b>Name:</b> <%= request.requester_name %><span style="margin-left:10px;margin-right:10px;"></span>Riders: <%= request.riders %>
                           <% unless request.note.nil? %>
                          <div class="description">
                            Note: <%= request.note %>
                          </div>
                          <% end %>
                          <div class="description">
                              <strong>Pickup:</strong> <%= request.pickup_address.split(',')[0] %><span style="margin-left:10px;margin-right:10px;"></span><strong>DropOff:</strong><%= request.dropoff_address.split(',')[0]%>
                          </div>
                      <div class="controls-more">
                        <% if request.status == "In Queue" %>
                          <ul>
                              <% Shuttle.all.each do |shuttle| %>
                              <li><%= link_to "Assign to #{shuttle.name}", ride_request_assign_shuttle_path(request, shuttle.id) %></li>
                              <% end %>
                          </ul>
                        <% elsif request.status == "Dispatched" %>
                          <ul>
                             <li><%= link_to "Set Rolling", ride_request_advance_status_path(request) %></li>
                           </ul>
                        <% else %>
                           <ul>
                             <li><%= link_to "Mark Clear", ride_request_mark_clear_path(request) %></li>
                           </ul>
                        <% end %>
                      </div>
                      <div>
                        <%= link_to ride_request_path(request) do %> <i class='fa fa-eye'></i><%end%>
                        <span style="margin-right:10px;"></span>
                        <%= link_to edit_ride_request_path(request) do %> <i class='fa fa-edit'></i><%end%>
                        <span style="margin-right:10px;"></span>
                        <%= link_to ride_request_mark_clear_path(request) do %> <i class='fa fa-trash'></i><%end%>
                        <span style="margin-right:10px;"></span>
                        <%= link_to  ride_request_reset_status_path(request) do %> <i class='fa fa-recycle'></i><%end%>
                      </div>
                    </div>
                  <% end %>
              </div>
              <div class='col-md-4'>
                <h3 style='color:black'>Dispatched</h3>
                <% dispatched.each do |request| %>
                  <div class="item item-row1" style='background-color: #99dbf4' >
                        <h3>Driver: <%= request.shuttle.name unless request.shuttle.nil? %>  <span style="margin-left:10px;margin-right:10px;"></span>    Status: <div class="label label-default"><%= request.status %></div> </h3>
                         <b>Name:</b> <%= request.requester_name %><span style="margin-left:10px;margin-right:10px;"></span>Riders: <%= request.riders %>
                         <% unless request.note.nil? %>
                        <div class="description">
                          Note: <%= request.note %>
                        </div>
                        <% end %>
                        <div class="description">
                            <strong>Pickup:</strong> <%= request.pickup_address.split(',')[0] %><span style="margin-left:10px;margin-right:10px;"></span><strong>DropOff:</strong><%= request.dropoff_address.split(',')[0]%>
                        </div>
                    <div class="controls-more">
                      <% if request.status == "In Queue" %>
                        <ul>
                            <% Shuttle.all.each do |shuttle| %>
                            <li><%= link_to "Assign to #{shuttle.name}", ride_request_assign_shuttle_path(request, shuttle.id) %></li>
                            <% end %>
                        </ul>
                      <% elsif request.status == "Dispatched" %>
                        <ul>
                           <li><%= link_to "Set Rolling", ride_request_advance_status_path(request) %></li>
                         </ul>
                      <% else %>
                         <ul>
                           <li><%= link_to "Mark Clear", ride_request_mark_clear_path(request) %></li>
                         </ul>
                      <% end %>
                    </div>
                    <div>
                      <%= link_to ride_request_path(request) do %> <i class='fa fa-eye'></i><%end%>
                      <span style="margin-right:10px;"></span>
                      <%= link_to edit_ride_request_path(request) do %> <i class='fa fa-edit'></i><%end%>
                      <span style="margin-right:10px;"></span>
                      <%= link_to ride_request_mark_clear_path(request) do %> <i class='fa fa-trash'></i><%end%>
                      <span style="margin-right:10px;"></span>
                      <%= link_to  ride_request_reset_status_path(request) do %> <i class='fa fa-recycle'></i><%end%>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class='col-md-4'>
                <h3 style='color:black'>Rolling</h3>
                <% rolling.each do |request| %>
                  <div class="item item-row1" style='background-color: #99f4a3'>
                        <h3>Driver: <%= request.shuttle.name unless request.shuttle.nil? %>  <span style="margin-left:10px;margin-right:10px;"></span>    Status: <div class="label label-default"><%= request.status %></div> </h3>
                         <b>Name:</b> <%= request.requester_name %><span style="margin-left:10px;margin-right:10px;"></span>Riders: <%= request.riders %>
                         <% unless request.note.nil? %>
                        <div class="description">
                          Note: <%= request.note %>
                        </div>
                        <% end %>
                        <div class="description">
                            <strong>Pickup:</strong> <%= request.pickup_address.split(',')[0] %><span style="margin-left:10px;margin-right:10px;"></span><strong>DropOff:</strong><%= request.dropoff_address.split(',')[0]%>
                        </div>
                    <div class="controls-more">
                      <% if request.status == "In Queue" %>
                        <ul>
                            <% Shuttle.all.each do |shuttle| %>
                            <li><%= link_to "Assign to #{shuttle.name}", ride_request_assign_shuttle_path(request, shuttle.id) %></li>
                            <% end %>
                        </ul>
                      <% elsif request.status == "Dispatched" %>
                        <ul>
                           <li><%= link_to "Set Rolling", ride_request_advance_status_path(request) %></li>
                         </ul>
                      <% else %>
                         <ul>
                           <li><%= link_to "Mark Clear", ride_request_mark_clear_path(request) %></li>
                         </ul>
                      <% end %>
                    </div>
                    <div>
                      <%= link_to ride_request_path(request) do %> <i class='fa fa-eye'></i><%end%>
                      <span style="margin-right:10px;"></span>
                      <%= link_to edit_ride_request_path(request) do %> <i class='fa fa-edit'></i><%end%>
                      <span style="margin-right:10px;"></span>
                      <%= link_to ride_request_mark_clear_path(request) do %> <i class='fa fa-trash'></i><%end%>
                      <span style="margin-right:10px;"></span>
                      <%= link_to  ride_request_reset_status_path(request) do %> <i class='fa fa-recycle'></i><%end%>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          <!-- Table -->





    </div>
    <div class='col-md-4'>
    <% if BusinessSetting.first.ride_request_active %>
      <%= link_to "Turn Off User Input", business_setting_deactivate_ride_requests_path(BusinessSetting.first), class: 'btn btn-warning' %>
    <% else %>
      <%= link_to "Turn On User Input", business_setting_activate_ride_requests_path(BusinessSetting.first), class: 'btn btn-success' %>
    <% end %>
    <%= render 'ride_requests/manager_form' %>
    <br>
    <br>
    <br>
    <%= render 'shuttles/driver_management' %>
    <script type="text/javascript">
      $(document).ready(function() {
            $('.ride-select').select2();
          });
    </script>


    </div>
    </div>
</div>

