<section class="page-title center">
    <h1>Your Ride Request</h1>
</section>
<section>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
          <form class="form inputs-underline">
              <section>
                  <div class="user-details box">
                      <div class="user-image" >
                          <div class="image">
                              <div class="bg-transfer" >
                                <iframe
                                    width="300"
                                    height="200"
                                    frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCqbNCLQod-jTl4UltA_2s-FEiG-L0Q_gA
                                    &origin=<%= URI.encode(@ride_request.pickup_address) %>
                                    &destination=<%= URI.encode(@ride_request.dropoff_address)%>
                                    &avoid=tolls|highways" allowfullscreen>
                                  </iframe>
                              </div>
                              <!--end bg-transfer-->
                              <div class="single-file-input" >
                                 <!--  <input type="file" id="user_image" name="user_image"> -->
                                  <div>
                                    <!-- Upload a picture<i class="fa fa-upload"></i> -->
                                    <%=@ride_request.status %><br>

                                  </div>
                              </div>
                          </div>
                          <!--end image-->

                      </div>
                      <!--end user-image-->
                      <div class="description clearfix">
                          <h3>Your Pickup Location</h3>
                          <h4 style='font-weight: 200'><%=@ride_request.pickup_address %></h4>
                         <!--  <a href="#" class="btn btn-default btn-rounded btn-xs">Change</a> -->
                         <% if @ride_request.shuttle %>
                            <%= link_to "Track My Shuttle", shuttle_path(@ride_request.shuttle), class: "btn btn-default btn-rounded btn-xs" %>
                          <% end %>
                          <hr>
                          <figure>
                              <div class="pull-left"><strong>Contact Method:</strong></div>
                              <div class="pull-right"><%=@ride_request.phone %></div>
                          </figure>
                      </div>
                      <!--end description-->
                  </div>
              </section>
              <!--end user-details-->
              <section>
                <div class="form-group text-center">
                      <!-- <label for="message">Your Ride </label> -->
                       <%="<h3>Dropoff:</h3><br> <label style='font-weight:400'>#{@ride_request.dropoff_address}</label>".gsub!(',', '<br>').html_safe  %>
                  </div>
                  <h3>About You</h3>
                  <div class="row">
                      <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                              <label for="first_name">Name</label>
                              <input type="text" class="form-control" name="first_name" id="first_name" value="<%= @ride_request.requester_name%>" disabled>
                          </div>
                          <!--end form-group-->
                      </div>
                      <!--end col-md-6-->
                      <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                              <label for="last_name">Riders</label>
                              <input type="text" class="form-control" name="last_name" id="last_name" value="<%= @ride_request.riders%>" disabled>
                          </div>
                          <!--end form-group-->
                      </div>
                      <!--end col-md-6-->
                      <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" name="email" id="email" value="<%= %>" disabled>
                          </div>
                          <!--end form-group-->
                      </div>
                      <!--end col-md-6-->
                      <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                              <label for="phone">Phone</label>
                              <input type="text" class="form-control" name="phone" id="phone" value="<%= @ride_request.phone%>" disabled>
                          </div>
                          <!--end form-group-->
                      </div>
                      <!--end col-md-6-->
                  </div>
                  <!--end row-->

                  <!--end form-group-->
              </section>
              <section class="center">
                <h3>This Is The Ride You've Requested:</h3>
                  <div class="form-group">
                      <!-- <button type="submit" class="btn btn-primary btn-rounded">Save Changes</button> -->

                          <iframe
                            width="100%"
                            height="500"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCqbNCLQod-jTl4UltA_2s-FEiG-L0Q_gA
                            &origin=<%= URI.encode(@ride_request.pickup_address) %>
                            &destination=<%= URI.encode(@ride_request.dropoff_address)%>
                            &avoid=tolls|highways" allowfullscreen>
                          </iframe>
                  </div>
                  <!--end form-group-->
              </section>
          </form>
          <!--end form-->
          <hr>
      </div>
      <!--end col-md-6-->

  </div>
    <!--end row-->
</section>



<% link_to 'Edit', edit_ride_request_path(@ride_request) %> |
<% link_to 'Back', ride_requests_path %>


