<p id="notice"><%= notice %></p>

<p>
  <strong>Pickup address:</strong>
  <%= @ride_request.pickup_address %>
</p>

<p>
  <strong>Dropoff address:</strong>
  <%= @ride_request.dropoff_address %>
</p>

<p>
  <strong>Riders:</strong>
  <%= @ride_request.riders %>
</p>

<p>
  <strong>Requester name:</strong>
  <%= @ride_request.requester_name %>
</p>

<p>
  <strong>Shuttle:</strong>
  <% if @ride_request.shuttle.nil? %>
    <p>Unassigned</p>
  <% else %>
    <%= @ride_request.shuttle.name %>
  <% end %>
</p>
<p>
  <strong>Status:</strong>
  <%= @ride_request.status %>
</p>
<p>
  <strong>Completed:</strong>
  <%= @ride_request.completed %>
</p>

<%= link_to 'Edit', edit_ride_request_path(@ride_request) %> |
<%= link_to 'Back', ride_requests_path %>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCqbNCLQod-jTl4UltA_2s-FEiG-L0Q_gA
  &origin=<%= @ride_request.pickup_address%>
  &destination=<%= @ride_request.dropoff_address%>
  &avoid=tolls|highways" allowfullscreen>
</iframe>
