<p id="notice"><%= notice %></p>

<h1>Shuttle Stops</h1>

<table>
  <thead>
    <tr>
      <th>Shuttle</th>
      <th>Order</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Person count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shuttle_stops.each do |shuttle_stop| %>
      <tr>
        <td><%= shuttle_stop.shuttle %></td>
        <td><%= shuttle_stop.order %></td>
        <td><%= shuttle_stop.address %></td>
        <td><%= shuttle_stop.latitude %></td>
        <td><%= shuttle_stop.longitude %></td>
        <td><%= shuttle_stop.person_count %></td>
        <td><%= link_to 'Show', shuttle_stop %></td>
        <td><%= link_to 'Edit', edit_shuttle_stop_path(shuttle_stop) %></td>
        <td><%= link_to 'Destroy', shuttle_stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shuttle Stop', new_shuttle_stop_path %>
