
<%= render 'shared/rlc/header'%>
<div id="page-content">
    <%= render 'shared/rlc/hero_banners/hero_1'%>
    <%= render 'shared/rlc/content/recent_listings'%>
    <!--end block-->
    <div class="container"><hr></div>
    <%= render 'shared/rlc/content/categories'%>
    <!--end block-->
    <%= render 'shared/rlc/content/subscribe'%>
    <!--end block-->
    <%= render 'shared/rlc/content/promoted_locations'%>
    <!--end block-->
    <%= render 'shared/rlc/content/events_near_you'%>
    <!--end block-->
    <%= render 'shared/rlc/content/recently_rated'%>
    <!--end block-->
    <%= render 'shared/rlc/content/newest_blog'%>
    <!--end block-->

    <div class="container"><hr></div>
    <!--end container-->
    <%= render 'shared/rlc/content/partners'%>
    <!--end block-->
</div>


