


<%= render 'shared/rlc/hero' %>
<%= render 'shared/locations_theme/recent_places' %>

<div class="container"><hr></div>
<%= render 'shared/locations_theme/browse_listings' %>
<%= render 'shared/locations_theme/subscribe' %>
<%= render 'shared/locations_theme/promoted_locations' %>
<%= render 'shared/locations_theme/recently_rated' %>
<%= render 'shared/locations_theme/from_the_blog' %>
<%= render 'shared/locations_theme/partners' %>
<!--end block-->

<div class="container">
    <hr>
</div>


