<div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                  <%=  render 'experiences/partials/show/title'%>
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <%= render 'experiences/partials/show/gallery' %>
                            <%= render 'experiences/partials/show/description' %>
                            <%= render 'experiences/partials/show/available_dates'%>
                            <%= render 'experiences/partials/show/reviews' %>
                            <%= render 'experiences/partials/review_form'%>
                        </div>
                        <!--end col-md-6-->
                        <div class="col-md-4 col-sm-12">
                            <section>
                              <%= render 'experiences/partials/show/detail_sidebar'%>
                            </section>
                            <section>
                              <%= render 'experiences/partials/categories' %>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <aside class="sidebar">
                        <%= render 'experiences/partials/show/recent_items' %>
                    </aside>
                    <!--end sidebar-->
                </div>
                <!--end col-md-3-->
            </div>
        </div>
        <!--end container-->
    </div>
