<div class="page-wrapper">
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <%= render 'experiences/partials/show/title'%>
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <%= render 'experiences/partials/show/gallery' %>
                            <%= render 'experiences/partials/show/description' %>
                            <%= render 'experiences/partials/reviews' %>
                            <%= render 'experiences/partials/review_form' %>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <section>
                                <div class="detail-sidebar">
                                   <%= render :partial => 'experiences/partials/business_details', :locals => {:experience => @experience}  %>
                                </div>
                                <!--end detail-sidebar-->
                            </section>
                            <%= render 'experiences/partials/categories' %>
                        </div>
                    </div>
                </div>
                <%= render 'experiences/partials/details_sidebar' %>
            </div>
        </div>
    </div>
</div>
