<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :reservation_name %>
  </div>

  <div class="field">
    <%= form.label :email_address %>
    <%= form.text_field :email, id: :reservation_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :reservation_phone %>
  </div>

  <div class="field">
    <%= form.label :count %>


  <% reservation_count_options = [] %>
  <% total_count = 0 %>
  <% @experience_occurance.reservations.each do |res| %>
    <% total_count = total_count + res.count %>
  <% end %>
  <% remaining_seats = @experience_occurance.capacity - total_count %>
  <% while remaining_seats > 0 %>
    <% reservation_count_options << "#{remaining_seats}" %>
    <% remaining_seats = remaining_seats - 1%>
  <% end %>
  <%= form.select(:count, reservation_count_options.map { |value| [ value, value ] }) %>
</div>

  <div class="field">
    <% if params[:experience_id]%>
      <%= form.hidden_field :experience_id, :value => @experience.id %>
    <% elsif params[:experience_occurance_id] %>
      <%= form.hidden_field :experience_occurance_id, :value => @experience.id %>
      <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
