<%= form_with(model: business_setting, local: true) do |form| %>
  <% if business_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_setting.errors.count, "error") %> prohibited this business_setting from being saved:</h2>

      <ul>
      <% business_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ride_request_active %>
    <%= form.check_box :ride_request_active, id: :business_setting_ride_request_active %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :business_setting_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
