<h3>Reservation Details</h3>
<%= form_with(model: @reservation, local: true, class: 'form inputs-underline') do |form| %>
<!-- <form class="form form-email inputs-underline" id="form-hero"> -->
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label for="name">Name</label>
                <!-- <input type="text" class="form-control" name="name" id="name"> -->
                <%= form.text_field :name, class: 'form-control' %>
            </div>
            <!--end form-group-->
        </div>
        <!--end col-md-4-->
        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label for="email">Email</label>
                <%= form.text_field :email, class: 'form-control' %>
            </div>
            <!--end form-group-->
        </div>
        <!--end col-md-4-->
        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label for="subject">Phone</label>
                <%= form.text_field :phone, class: 'form-control' %>
            </div>
            <!--end form-group-->
        </div>
        <!--end col-md-4-->
    </div>
    <!--end form-group-->
    <div class="form-group">
        <!-- <button type="submit" class="btn btn-primary icon shadow">Send Message<i class="fa fa-caret-right"></i></button> -->
        <%= form.submit "Save", class: 'btn btn-primary ' %>

    </div>
    <!--end form-group-->
<!-- </form> -->
<%end%>



