
  <% Shuttle.all.each do |shuttle| %>
    <div class='row'>
      <%= form_for shuttle do |f|%>
        <div class="col-md-2"><i class='fa fa-tablet fa-2x'> </i><span style='padding:4px;'></span><%= shuttle.id %></div>
        <div class='col-md-2'>
           <%= f.text_field :plate_number, id: :shuttle_plate_number, class: 'form-control', placeholder: 'plate #' %>
        </div>
        <div class='col-md-3'>
          <%= f.text_field :name, id: :shuttle_name, class: 'form-control' %>
        </div>
        <div class='col-md-3'>
          <% if shuttle.is_looping %>
            <%= link_to shuttle_stop_looping_path(shuttle) do   %>
              <i class='fa fa-recycle fa-2x' style="color: green;padding:6px;"> </i>
            <% end %>
          <% else %>
            <%= link_to  shuttle_set_looping_path(shuttle) do %>
            <i class='fa fa-recycle fa-2x' style="color: red; padding:6px;"> </i>
            <% end %>
          <% end %>
          <% if shuttle.is_active %>
            <%= link_to shuttle_set_inactive_path(shuttle) do   %>
              <i class='fa fa-truck fa-2x' style="color: green;padding:6px;"> </i>
            <% end %>
          <% else %>
            <%= link_to  shuttle_set_active_path(shuttle) do %>
              <i class='fa fa-truck fa-2x' style="color: red; padding:6px;"> </i>
            <% end %>
          <% end %>
        </div>
          <%= hidden_field :manager, value: 'manager'%>
        <div class='col-md-1'>
          <%= f.submit "Update", class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  <% end %>
