<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .directions-card .directions-card-medium-large {
      display: none;
    }
</style>
<p id="notice"><%= notice %></p>
<% if session[:phone].nil?  && current_user.nil? %>
  <div class="row">
      <div class="col-md-4 col-sm-6  col-xs-8 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
          <section>
            <%= form_for(:ride_request, url: "/ride_requests/rider/set_rider_info", class:"form inputs-underline", :html => {:id => "rider-form"}) do |f| %>

                  <div class="form-group">
                      <label for="Name">Name</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Your Name"  text='<%= session[:name] %>'>
                  </div>
                  <!--end form-group-->
                  <div class="form-group">
                      <label for="phone">Phone Number</label>
                      <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone number" text='<%= session[:phone] %>' >
                  </div>
                  <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                  </div>
                  <div class="form-group center">
                      <input type="hidden" name="redirect-shuttle" value="<%= @shuttle.id %>">
                      <button type="submit" id='submit' class="btn btn-primary width-100">Find My Shuttle</button>
                  </div>
              <% end %>
              <hr>
          </section>
      </div>
  </div>
<% else %>




<h1>Shuttle Info</h1>
<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <p>
        <strong>Driver Name:</strong>
        <%= @shuttle.name %>
      </p>

      <p>
        <strong>Current Address:</strong>
        <%= @shuttle.address %>
      </p>
       <p>
        <strong>Your Phone:</strong>
        <%= session[:phone] %>
      </p>


      <%= waypoints = ""%>
      <% os_count = @ordered_stops.count %>
      <% os_counter = 0 %>
      <% complete = false %>
      <% @destination = nil %>
      <% unless @ordered_stops.first.nil?%>
        <% @ordered_stops.each do |os|%>
          <% if (os_counter != os_count) && (complete == false) %>
            <% waypoints = waypoints + os.address.gsub!(' ','+') + "|" %>
            <% if session[:phone] == os.phone && os.stop_type == 'pickup' %>
              <% complete = true %>
            <% end %>
            <% os_counter = os_counter + 1 %>
          <%elsif os_counter == 0 %>
            <% os_counter = os_counter + 1 %>
          <% end %>
        <% end %>
      <% end %>
      <div style='max-width: 1000px'>
        <% waypoints = waypoints[0...-1] %>
        <% waypoints %>
      </div>


       <% complete = false %>
      <% stops_count = 1 %>
      <% @last_stop_for_display = RideAndDistance.new(address: "1475 Pine Grove Rd, Steamboat Springs, CO 80477") %>
      <h2>Stop List</h2>
      <!-- Ordered Stops List -->
      <% @ordered_stops.each do |os| %>
        <% unless os.nil? %>
        <% if (os_counter != os_count) && (complete == false) %>
          <div class='row'>
            <h4> Stop #<%= stops_count unless stops_count.nil? %> <%= os.stop_type unless os.nil?%></h4>
             <%= os.name %><br/>
             <% if os.address.include?("+") %>
                <%= os.address.gsub!('+',' ')%>
             <% else %>
                <%= os.address%>
             <% end %>
             <% stops_count = stops_count + 1 %>
             <% if session[:phone] == os.phone && os.stop_type == 'pickup' %>
              <% complete = true %>
              <% @last_stop_for_display = os %><br>
              <%= link_to "edit", edit_ride_request_path(RideRequest.find(os.ride_id)), class: 'btn btn-primary' %>
             <% end %>
          </div>
        <% end %>
        <% end %>
      <% end %>

    </div>
    <div class='col-md-6'>
      <div class="google-maps">
        <% if waypoints == "" %>
        <iframe
          width="100%"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCqbNCLQod-jTl4UltA_2s-FEiG-L0Q_gA
          &origin=<%= URI.encode(@shuttle.address)%>
          &destination=<%= URI.encode(@last_stop_for_display.address)%>
          &avoid=tolls|highways" allowfullscreen>
        </iframe>
        <% else %>
         <iframe
          width="100%"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCqbNCLQod-jTl4UltA_2s-FEiG-L0Q_gA
          &origin=<%= URI.encode(@shuttle.address)%>
          &destination=<%= URI.encode(@last_stop_for_display.address)%>
          &waypoints=<%= waypoints %>
          &avoid=tolls|highways" allowfullscreen>
        </iframe>
        <%end %>
      </div>
    </div>
  </div>
</div>

 <% render 'shared/locations_theme/promoted_locations' %>

<% end %>

<script>
  $(document).ready(function () {

    setInterval(refresh_page, 60000);
    function refresh_page(){location.reload();}

    if(location.search == '?q=driver'){
      setInterval(initGeolocation, 30000);
    };

     function initGeolocation() {
     if (navigator && navigator.geolocation) {
          /*alert('setting geolocation'); */
          navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
            } else {
                alert('Geolocation is not supported');
                console.log('Geolocation is not supported');
            }
      }

    $('#rider-form').validate({
        rules: {
            name: {
                required: true
            },
            phone: {
                required: true,
                phoneUS: true
            },
            email: {
                required: true,
                email: true
            }
        }
    });

    jQuery.validator.addMethod("phoneUS", function (phone_number, element) {
        phone_number = phone_number.replace(/\s+/g, "");
        return this.optional(element) || phone_number.length > 9 && phone_number.match(/^(\+?1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
    }, "Please specify a valid phone number");

    // programmatically check the entire form using the `.valid()` method.
    $("#rider-form").on('click', '#submit', function () {
        $('#rider-form').valid();
    });

});

function errorCallback() {}

function successCallback(position) {
  // var mapUrl = "http://maps.google.com/maps/api/staticmap?center=";
  // mapUrl = mapUrl + position.coords.latitude + ',' + position.coords.longitude;
  // mapUrl = mapUrl + '&zoom=15&size=512x512&maptype=roadmap&sensor=false';
  // var imgElement = document.getElementById("static-map");
  // imgElement.src = mapUrl;
  $('.lat').text(position.coords.latitude);
  $('.long').text(position.coords.longitude);
  makeRequest(position.coords.latitude, position.coords.longitude, <%= @shuttle.id %>)
}

function makeRequest(latitude, longitude, shuttleID){
  $.ajax({
      url:'/driver/' + shuttleID + '/set_location',
      type:'POST',
      dataType:'json',
      data:{
          shuttle_id: shuttleID,
          lat: latitude,
          long: longitude,
          authenticity_token: window._token
      },
      success:function(data){
        // alert('set position');

      },
      error:function(data){

      }
  });
}
</script>


