<div class='container'>
  <style>
    td{}
  </style>
<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Priority</th>
      <th>Name</th>
      <th>Address </th>
      <th>Instruction</th>
      <th>Is Shuttle Stop</th>
      <th>Show After 2</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td>
          <% if location.priority.nil? %>
            0
          <% else %>
            <%= location.priority %>
          <% end %>
        </td>
        <td><%= location.name %></td>
        <td><%= location.address.split(',')[0] %></td>
        <td><%= location.instruction %></td>
        <td>
          <% if location.is_shuttle_stop  == true %>
            <%= link_to "Disable <i class='fa fa-truck'></i>".html_safe, location_toggle_shuttle_stop_path(location), style:'padding-right: 12px;'%>
          <% else %>
            <%= link_to "Enable <i class='fa fa-truck'></i>".html_safe, location_toggle_shuttle_stop_path(location), style:'padding-right: 12px;' %>
          <% end %>
        </td>
        <td>
          <% if location.show_after_2 == true %>
            <%= link_to "Seen After 2", location_show_after_2_path(location), style:'padding-right: 6px;'%>
          <% else %>
            <%= link_to "Hidden After 2", location_show_after_2_path(location), style:'padding-right: 6px;' %>
          <% end %>
        </td>
        <td></td>
        <td><%= link_to  location do %> <i class='fa fa-eye' style='margin:6px;'></i><%end%></td>
        <td><%= link_to edit_location_path(location) do %> <i class='fa fa-edit' style='margin:6px;'></i><%end%></td>
        <td><%= link_to location, method: :delete, data: { confirm: 'Are you sure?' } do %> <i class='fa fa-trash' style='margin:6px;'></i><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
</div>
