<p id="notice"><%= notice %></p>
<div class='text-center'>
<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
<strong>Latitude:</strong>  <%= @location.latitude %>
</p>
<p>
<strong>Longitude:</strong> <%= @location.longitude %>
</p>
<p>
<strong>Pickup Point Description:</strong> <%= @location.instruction %>
</p>
<div class='text-center'>
<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-6'>
     <% unless @location.image.nil? %>
     <h3> Pickup Point Image </h3>
      <%= image_tag @location.image, class: 'img-responsive '%>
    <% end %>
  </div>
  <div class='col-md-3'></div>
</div>
</div>
<div>
  <h3> Map </h3>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude},#{@location.longitude}&markers=#{@location.latitude},#{@location.longitude}&zoom=13&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@location.name} on the map"%>
</div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
</div>
