<p id="notice"><%= notice %></p>
<div class='text-center'>
<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
<strong>Latitude:</strong>  <%= @location.latitude %>
</p>
<p>
<strong>Longitude:</strong> <%= @location.longitude %>
</p>
<p>
<strong>Instructions:</strong> <%= @location.instruction %>
</p>
<div>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude},#{@location.longitude}&markers=#{@location.latitude},#{@location.longitude}&zoom=13&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@location.name} on the map"%>
</div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
</div>
