<!DOCTYPE html>
<html>
  <head>
    <title>Rlc</title>
    <%= csrf_meta_tags %>
     <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
     <script src="https://use.fontawesome.com/1494e0c4f8.js"></script>
    <%= stylesheet_link_tag 'locations_theme' %>
    <!-- Latest compiled and minified JavaScript -->
    <%= javascript_include_tag 'locations_theme' %>
  </head>
  <body>
    <div class="page-wrapper">
      <%= render 'shared/rlc/header' %>
      <%= yield %>
      <%= render 'shared/rlc/content/footer'%>
    </div>
    <a href="#" class="to-top scroll" data-show-after-scroll="600"><i class="fa fa-arrow-up"></i></a>
    <script>
      autoComplete();
    </script>
  </body>
</html>
