<!DOCTYPE html>
<html>
  <head>
    <title>Rlc</title>
    <%= csrf_meta_tags %>
     <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
     <script src="https://use.fontawesome.com/1494e0c4f8.js"></script>
    <%= stylesheet_link_tag 'locations_theme' %>
    <!-- Latest compiled and minified JavaScript -->
    <%= javascript_include_tag 'locations_theme' %>
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDRnHEW-VBfsHmST4EGLiORjq4SZQkF2B8&libraries=places"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <%= render 'shared/rlc/header' %>
      <%= yield %>
      <%= render 'shared/rlc/content/footer'%>
    </div>
    <a href="#" class="to-top scroll" data-show-after-scroll="600"><i class="fa fa-arrow-up"></i></a>

    <script>
      autoComplete();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <%= yield :js %>
  </body>
</html>
