<!DOCTYPE html>
<html>
  <head>
    <title>Rlc</title>
    <%= csrf_meta_tags %>
     <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
     <script src="https://use.fontawesome.com/1494e0c4f8.js"></script>
    <%= stylesheet_link_tag 'locations_maps' %>


     <%= yield :head %>
    <!-- Latest compiled and minified JavaScript -->
  </head>

  <body class="nav-btn-only homepage">
    <div class="page-wrapper">
      <%= render 'shared/rlc/header' %>
      <div id="page-content">
      <%= yield %>
    </div>
    <%= render 'shared/rlc/content/footer' %>
    </div>

    <%= javascript_include_tag 'locations_locations' %>
   <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrXjXWK4DtOZQQ3Z5EnnF9TwUx96B-Tog&region=US&libraries=places&callback=initMap""></script>
    <script>
      autoComplete();
    </script>
  </body>
</html>



