<!DOCTYPE html>
<html>
  <head>
    <title>Rlc</title>
    <%= csrf_meta_tags %>
     <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
     <script src="https://use.fontawesome.com/1494e0c4f8.js"></script>
    <%= stylesheet_link_tag 'locations_maps' %>



    <!-- Latest compiled and minified JavaScript -->
  </head>

  <body class="nav-btn-only homepage">
    <div class="page-wrapper">
      <%= render 'shared/rlc/header' %>
      <div id="page-content">
      <%= yield %>
    </div>
    <%= render 'shared/locations_theme/footer' %>
    </div>

    <%= javascript_include_tag 'locations_maps' %>
   <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe_etF6ggVPrcWv7TAIW9wxyGrFGD0IJI&region=US&libraries=places&callback=initMap""></script>
    <script>
      autoComplete();
    </script>
  </body>
</html>


